[submodule "saleor"]
	path = saleor
	url = git@github.com:andy-veafe/saleor.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = git@github.com:andy-veafe/saleor-dashboard.git
[submodule "commerce"]
	path = commerce
	url = git@github.com:andy-veafe/commerce.git
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = git@github.com:andy-veafe/saleor-storefront.git
